<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Principal</title>
    <div th:replace="tienda/fragments/estilos :: estilos"></div>
  </head>
  <body>
    <nav th:replace="tienda/fragments/navbar :: navbar"></nav>
    <main class="contenedor">
      <h1>Nuestros Productos</h1>

      <div class="grid">
        <div th:each="articulo:${listaArticulos}" class="producto">
          <a th:href="@{'/articulos/' + ${articulo.idArticulo}}">
            <img
              class="producto__imagen"
              th:src="@{${articulo.imagen}}"
              alt="suplemento"
            />
            <div class="producto__información">
              <p th:text="${articulo.nombre}" class="producto__nombre"></p>
              <p class="producto__precio">
                S/. <span th:text="${articulo.precioVenta}"></span>
              </p>
            </div>
          </a>
        </div>

        <div class="grafico grafico--aea"></div>
        <div class="grafico grafico--node"></div>
      </div>
    </main>
    <footer th:replace="tienda/fragments/footer :: footer"></footer>
  </body>
</html>
