<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Frontend Store</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        
    </head>
<body>
    <!-- <header class="header">
        <a href="index.html">
            <img class="header__logo" src="img/vegetayim.jpeg" alt="Logotipo">
        </a>
    </header> -->
    
    <nav class="navegacion">
        <a class="navegacion__enlace"  href="index.html">Tienda</a> 
        <a class="navegacion__enlace navegacion__enlace--activo" href="nosotros.html">Nosotros</a>
    </nav>

    <main class="contenedor">
        <h1>Suplemento UN</h1>
        <div class="suplemento">
            <img class="suplemento_imagen" src="img/UN0024.jpg" alt="suplemento">
            <div class="suplemento_contenido">
                <p>
                    Producto elaborado con diversas fuentes proteicas de alta calidad.
Ideal para personas que deseen mantener o subir su peso (periodo de volumen), tanto para hombres, mujeres, atletas de alto rendimiento físico, entre otros.
                </p>
                    <form class="formulario">
                        <select class="formulario_campo">
                            <option disabled selected>--Peso--</option>
                            <option class="formulario_option">1kg</option>
                            <option class="formulario_option">2kg</option>
                            <option class="formulario_option">3k</option>
                            <option class="formulario_option">5kg</option>
                            <option class="formulario_option">11kg</option>
                        </select>
                        <input class="formulario_campo" type="number" placeholder="Cantidad" min="1">
                        <input class="formulario_submit" type="submit" value="Agregar al Carrito">
                    </form>                
            </div>
        </div>
    </main>
    

    <footer class="footer">
        <p class="footer__texto">Front End Store - Todos los derechos Reservados 2021.</p>
    </footer>
</body>
</html>