<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Frontend Store</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        
    </head>
<body>
    <!-- <header class="header">
        <a href="index.html">
            <img class="header__logo" src="img/vegetayim.jpeg" alt="Logotipo">
        </a>
    </header> -->
    
    <nav class="navegacion">
        <a class="navegacion__enlace"  href="index.html">Tienda</a> 
        <a class="navegacion__enlace navegacion__enlace--activo" href="nosotros.html">Nosotros</a>
    </nav>

    <main class="contenedor">
        <h1>Barras Paralelas</h1>
        <div class="paralelas">
            <img class="paralelas_imagen" src="img/barras_paralelas.png" alt="Imagen del producto">
            <div class="paralelas_contenido">
                <p>
                    Una buena manera de entrenar pecho, tríceps y abdominales.
                     Dos barras paralelas de gran resistencia colocadas de forma
                      que nos dejan un amplio ángulo de maniobra para realizar diferentes
                       actividades.
                </p>
                    <form class="formulario">
                        <select class="formulario_campo">
                            <option disabled selected>--Color--</option>
                            <option class="formulario_option">Negro</option>
                            <option class="formulario_option">Amarillo</option>
                            <option class="formulario_option">Verde</option>
                            <option class="formulario_option">Rosado</option>
                        </select>
                        <input class="formulario_campo" type="number" placeholder="Cantidad" min="1">
                        <input class="formulario_submit" type="submit" value="Agregar al Carrito">
                    </form>                
            </div>
        </div>
    </main>
    

    <footer class="footer">
        <p class="footer__texto">Front End Store - Todos los derechos Reservados 2021.</p>
    </footer>
</body>
</html>