<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/Store/img/mands.ico">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Super SayaGym</title>
        
        <link rel="stylesheet" href="/Store/css/normalize.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/Store/css/style.css">
    </head>
<body>
    
    <!-- <header class="header">
        <a href="index.html">
            <img class="header__logo" src="img/vegetayim.jpeg" alt="Logotipo">
        </a>
    </header> -->
    
    <nav class="navegacion">
        
        <a class="navegacion__enlace navegacion__enlace--activo" href="index.html">Tienda</a>
        <a class="navegacion__enlace" href="nosotros.html">Nosotros</a>
        <a class="navegacion__enlace" href="login1.html" >Salir</a>
    </nav>

    <main class="contenedor">
        <h1>Nuestro Productos</h1>

        <div class="grid">
            <div class="producto">
                    <a href="producto.html">
                        <img class="producto__imagen" src="img/UN0024.jpg" alt="suplemento">
                        <div class="producto__información">
                            <p class="producto__nombre">Suplemento UN</p>
                            <p class="producto__precio">$30</p>
                        </div>
                    </a>
            </div>

            <div class="producto">
                <a href="producto2.html">
                    <img class="producto__imagen" src="img/3-3.jpg" alt="rueda">
                    <div class="producto__información">
                        <p class="producto__nombre">Rueda Abdominal</p>
                        <p class="producto__precio">$40</p>
                    </div>
                </a>
            </div>

            <div class="producto">
            <a href="producto3.html">
                <img class="producto__imagen" src="img/conos-varilla-pack.jpg" alt="conos">
                <div class="producto__información">
                    <p class="producto__nombre">Cono y Varilla</p>
                    <p class="producto__precio">$15</p>
                </div>
            </a>
            </div>

            <div class="producto">
                <a href="producto4.html">
                    <img class="producto__imagen" src="img/exte.jpg" alt="MANCUERDAS">
                    <div class="producto__información">
                        <p class="producto__nombre">Mancuernas</p>
                        <p class="producto__precio">$10</p>
                    </div>
                </a>
            </div>

            <div class="producto">
                <a href="producto5.html">
                    <img class="producto__imagen" src="img/bola_yim.jpg" alt="bola">
                    <div class="producto__información">
                        <p class="producto__nombre">Balon Suizo</p>
                        <p class="producto__precio">$20</p>
                    </div>
                </a>
            </div>

            <div class="producto">
                <a href="producto6.html">
                    <img class="producto__imagen" src="img/cuerda-de-saltar-con-contador.jpg" alt="saltasoga">
                    <div class="producto__información">
                        <p class="producto__nombre">Salta Soga</p>
                        <p class="producto__precio">$5</p>
                    </div>
                </a>
            </div>

            <div class="producto">
                <a href="producto7.html">
                    <img class="producto__imagen" src="img/image-a4d55db122574cff8b767da5748c9aa0.jpg" alt="barra">
                    <div class="producto__información">
                        <p class="producto__nombre">Barra recta de acero cromado 1.5 Mts</p>
                        <p class="producto__precio">$40</p>
                    </div>
                </a>
            </div>

            <div class="producto">
                <a href="producto8.html">
                    <img class="producto__imagen" src="img/z.jpg" alt="b1">
                    <div class="producto__información">
                        <p class="producto__nombre">Barra Z Olimpica</p>
                        <p class="producto__precio">$50</p>
                    </div>
                </a>
            </div>

            <div class="producto">
                <a href="producto9.html">
                    <img class="producto__imagen" src="img/tienda_009248_892a4db1402f916517086cc242ba3921bb6dadd1_producto_large_90.png" alt="banda">
                    <div class="producto__información">
                        <p class="producto__nombre">Banda elastica</p>
                        <p class="producto__precio">$25</p>
                    </div>
                </a>
            </div>

            <div class="producto">
                <a href="producto10.html">
                    <img class="producto__imagen" src="img/faja.png" alt="faja">
                    <div class="producto__información">
                        <p class="producto__nombre">Faja</p>
                        <p class="producto__precio">$30</p>
                    </div>
                </a>
            </div>

            <div class="producto">
                <a href="producto11.html">
                    <img class="producto__imagen" src="img/pinza.jpg" alt="pinza">
                    <div class="producto__información">
                        <p class="producto__nombre">Pinza de mano</p>
                        <p class="producto__precio">$15</p>
                    </div>
                </a>
            </div>

            <div class="producto">
                <a href="producto12.html">
                    <img class="producto__imagen" src="img/barras_paralelas.png" alt="paralelas">
                    <div class="producto__información">
                        <p class="producto__nombre">Barras Paralelas</p>
                        <p class="producto__precio">$100</p>
                    </div>
                </a>
            </div>

            <div class="producto">
                <a href="producto13.html">
                    <img class="producto__imagen" src="img/estante.jpg" alt="estante">
                    <div class="producto__información">
                        <p class="producto__nombre">Estante para pesas</p>
                        <p class="producto__precio">$120</p>
                    </div>
                </a>
            </div>

            <div class="producto">
                <a href="producto14.html">
                    <img class="producto__imagen" src="img/tobi.jpg" alt="tobi">
                    <div class="producto__información">
                        <p class="producto__nombre">Pesas Tobilleras</p>
                        <p class="producto__precio">$40</p>
                    </div>
                </a>
            </div>

            <div class="grafico grafico--aea"></div>
            <div class="grafico grafico--node"></div>
        </div>
    </main>

    <footer class="footer">
        <p class="footer__texto">Front End Store - Todos los derechos Reservados 2021.</p>
    </footer>
</body>
</html>