<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<title>Inicio de Sesion</title>
<link rel="icon" href="/Store/img/mands.ico">  
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/Store/css/login1.css">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Iniciar Sesion </h2>
          <a href="/Gymnasio3/Store/login.html"><h2 class="inactive underlineHover">Registro</h2></a>
      
          <!-- Icon -->
          <!-- <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
          </div> -->
      
          <!-- Login Form -->
          <form action="log1.php" method="POST">
            <input type="text" id="usu" class="fadeIn second" name="us" placeholder="Usuario">
            <input type="text" id="cont" class="fadeIn third" name="con" placeholder="Contraseña">
            <input type="submit" class="but" value="Ingresar">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Contraseña Perdida?</a>
          </div>
          
        </div>
      </div>
</body>

