<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Frontend Store</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        
    </head>
<body>
    <!-- <header class="header">
        <a href="index.html">
            <img class="header__logo" src="img/vegetayim.jpeg" alt="Logotipo">
        </a>
    </header> -->
    
    <nav class="navegacion">
        <a class="navegacion__enlace"  href="index.html">Tienda</a> 
        <a class="navegacion__enlace navegacion__enlace--activo" href="nosotros.html">Nosotros</a>
    </nav>

    <main class="contenedor">
        <h1>Cono y Varilla</h1>
        <div class="conos">
            <img class="conos_imagen" src="img/conos-varilla-pack.jpg" alt="Imagen del producto">
            <div class="conos_contenido">
                <p>
                    Para saltos con pie junto, saltos consecutivos, spikking, etc.
                    Ùtil para rutinas de preparación física.
                </p>
                    <form class="formulario">
                        <select class="formulario_campo">
                            <option disabled selected>--color--</option>
                            <option class="formulario_option">rojo</option>
                            <option class="formulario_option">naranja</option>
                            <option class="formulario_option">verde</option>
                            <option class="formulario_option">amarillo</option>
                        </select>
                        <input class="formulario_campo" type="number" placeholder="Cantidad" min="1">
                        <input class="formulario_submit" type="submit" value="Agregar al Carrito">
                    </form>                
            </div>
        </div>
    </main>
    

    <footer class="footer">
        <p class="footer__texto">Front End Store - Todos los derechos Reservados 2021.</p>
    </footer>
</body>
</html>