<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artículo</title>
    <div th:replace="tienda/fragments/estilos :: estilos"></div>
  </head>
  <body>
    <nav th:replace="tienda/fragments/navbar :: navbar"></nav>
    <main class="contenedor">
      <h1 th:text="${articulo.nombre}"></h1>
      <div class="suplemento">
        <img
          class="suplemento_imagen"
          th:src="@{${articulo.imagen}}"
          alt="suplemento"
        />
        <div class="suplemento_contenido">
          <p th:text="${articulo.descripcion}"></p>
          <form
            th:action="${agregado} == 0 ? '/carrito/agregar': ('/carrito/remover/' + ${articulo.idArticulo})"
            th:object="${datos}"
            method="POST"
            class="formulario"
          >
            <input type="hidden" th:field="*{idArticulo}" />
            <input
              class="formulario_campo"
              type="number"
              placeholder="Cantidad"
              th:field="*{cantidad}"
              min="1"
            />
            <input
              th:if="${agregado == 0}"
              class="formulario_submit"
              type="submit"
              value="Agregar al Carrito"
            />
            <input
              th:if="${agregado == 1}"
              class="formulario_submit"
              type="submit"
              value="Remover del Carrito"
            />
          </form>
        </div>
      </div>
    </main>
    <footer th:replace="tienda/fragments/footer :: footer"></footer>
  </body>
</html>
