<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio Sesión Administrador</title>
    <link rel="stylesheet" type="text/css" href="/css/inicio-sesion.css" />
  </head>
  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <h2 class="active">Administrador</h2>

        <form
          th:action="@{/admin/iniciar-sesion}"
          th:object="${emailClave}"
          method="POST"
        >
          <input
            type="text"
            id="usu"
            class="fadeIn second"
            th:field="*{email}"
            placeholder="Usuario"
          />
          <input
            type="password"
            id="cont"
            class="fadeIn third"
            th:field="*{clave}"
            placeholder="Contraseña"
          />
          <input type="submit" class="but" value="Ingresar" />
          <p th:text="${session.mensaje}"></p>
        </form>

        <!--<div id="formFooter">
          <a class="underlineHover" href="#">Contraseña Perdida?</a>
        </div>-->
      </div>
    </div>
  </body>
</html>
