.cart {
  background-color: white;
  padding: 2rem;
  font-family: var(--fuentePrincipal);
  font-size: 2rem;
}

table {
  width: 100%;
}

table td,
table th {
  padding: 1rem;
}

table thead {
  background-color: var(--negro);
  color: var(--blanco);
  text-align: center;
}

table tbody {
  text-align: end;
}
