.cart {
  background-color: white;
  padding: 2rem;
  font-family: var(--fuentePrincipal);
  font-size: 2rem;
}

table {
  width: 100%;
}

table td,
table th {
  padding: 1rem;
}

table thead {
  background-color: var(--negro);
  color: var(--blanco);
  text-align: center;
}

table tbody {
  text-align: end;
}

.submit-btn {
  background-color: var(--secundario);
  border: none;
  font-size: 2rem;
  font-family: var(--fuentePrincipal);
  padding: 2rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.remover-btn {
  background-color: var(--primarioOscuro);
  border: none;
  font-size: 2rem;
  font-family: var(--fuentePrincipal);
  color: var(--blanco);
  padding: 0.7rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.remover-btn:hover {
  opacity: 0.8;
}

.cantidad-input {
  text-align: end;
  width: 6rem;
}
