<!DOCTYPE html>
<html lang="en">
  <head
    th:replace="fragments/header :: head(metaTitle = 'Lista Empleados')"
  ></head>
  <body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container mt-4">
      <div class="card">
        <div class="card-header">Lista Personas</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="table-dark">
                <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Ap. Paterno</th>
                  <th>Ap. Materno</th>
                  <th>Tipo</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="persona:${listaPersonas}">
                  <td th:text="${persona.idPersona}"></td>
                  <td th:text="${persona.nombre}"></td>
                  <td th:text="${persona.apellidoPaterno}"></td>
                  <td th:text="${persona.apellidoMaterno}"></td>
                  <td th:text="${persona.tipoPersona}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
  </body>
</html>
