<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio Sesión</title>
    <div th:replace="tienda/fragments/estilos :: estilos"></div>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
  </head>
  <body>
    <form
      th:action="@{/iniciar-sesion}"
      th:object="${emailClave}"
      method="POST"
    >
      <input type="text" th:field="*{email}" />
      <input type="text" th:field="*{clave}" />
      <button type="submit">enviar</button>
    </form>
  </body>
</html>
