<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ventas</title>
    <div th:replace="admin/fragments/estilos :: estilos"></div>
  </head>
  <body>
    <nav th:replace="admin/fragments/navbar :: navbar"></nav>
    <div class="container pt-2">
      <h1>Lista Ventas</h1>

      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th>Id</th>
            <th>Tipo Comprobante</th>
            <th>Serie Comprobante</th>
            <th>Numero Comprobante</th>
            <th>Fecha</th>
            <th>Impuesto</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Cliente</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="venta:${listaVentas}">
            <td th:text="${venta.idVenta}"></td>
            <td th:text="${venta.tipoComprobante.name}"></td>
            <td th:text="${venta.serieComprobante}"></td>
            <td th:text="${venta.numComprobante}"></td>
            <td
              th:text="${venta.fecha.time.date +'/'+ venta.fecha.time.month +'/'+  venta.fecha.time.year}"
            ></td>
            <td th:text="${venta.impuesto}"></td>
            <td th:text="${venta.total}"></td>
            <td th:text="${venta.estado.name}"></td>
            <td>
              <span th:if="${venta.cliente}">
                <span th:text="${venta.cliente.getNombre()}"></span>
              </span>
            </td>
            <td>
              <div>
                <form
                  th:action="${'/admin/ventas/completar/' + venta.idVenta}"
                  method="POST"
                >
                  <button
                    th:if="${venta.estado.name == 'PROCESO'}"
                    class="btn btn-success btn-sm"
                  >
                    COMPLETAR
                  </button>
                </form>
                <form
                  action=""
                  th:action="${'/admin/ventas/cancelar/' + venta.idVenta}"
                  method="POST"
                >
                  <button
                    th:if="${venta.estado.name == 'PROCESO'}"
                    class="btn btn-danger btn-sm"
                  >
                    CANCELAR
                  </button>
                </form>
                <span th:if="${venta.estado.name != 'PROCESO'}">Terminado</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div th:replace="admin/fragments/footer :: footer"></div>
  </body>
</html>
